@font-face { font-family: PressStart; src: url('../PressStart2P.ttf'); }
@font-face { font-family: PressStart; font-weight: bold; src: url('../PressStart2P.ttf');}

body {
  font: 18px PressStart;
  color: #595959;
}

.background {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-play {
  background-image: url("../images/background-play.png");
  background-repeat: repeat-x;
  background-size: 653px 365px;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #595959;
}

a:hover {
  color: white;
}

.mobile-h1 {
  margin-top: 400px;
}

.desktop-h1 {
  margin-top: 70px;
}

.padding-0 {
  padding: 0px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-5 {
  margin: 5px;
}

.click-to-play {
  margin-top: 100px;
}

.puerto-rico {
  width: 40px;
  height: 20px;
  display: inline-block;
}

.center-text {
  text-align: center;
}

.iniline-block {
  display: inline-block;
}

.row-center {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.header {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: #619a50;
}

.game-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}
