_site
_cache
dist-newstyle
node_modules/
.DS_Store
.merlin
.bsb.lock
.vscode
.history
npm-debug.log
/lib
src/*.bs.js
.DS_Store
app/dist/
logs
tmp
*.log
*.swp
*.out
app/public/javascripts/**/*
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.xdv
