@font-face { font-family: PressStart; src: url('../PressStart2P.ttf'); }
@font-face { font-family: PressStart; font-weight: bold; src: url('../PressStart2P.ttf');}

body {
  font: 18px PressStart;
  color: #595959;
  padding: 5px;
  background-image: url("../images/background.png");
  background-size: cover;
}

a {
  text-decoration: none;
  color: #595959;
}

a:hover {
  color: white;
}

.mobile-h1 {
  margin-top: 400px;
}

.desktop-h1 {
  margin-top: 50px;
}

.house-container {
  margin-top: 100px;
  margin-left: 50px;
}

.house {
  content: url("../images/house.png");
  margin-left: 50px;
}

.house-es {
  content: url("../images/house.png");
  margin-left: 70px;
}

.puerto-rico {
  width: 40px;
  height: 20px;
  display: inline-block;
}

.center-text {
  text-align: center;
}

.iniline-block {
  display: inline-block;
}
