<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="stylesheets/style.css" />
    </head>

    <body>
      <div class="center-text">
        <h1 class="desktop-h1">Error: Page not found</h1>
      </div>
    </body>
  </html>