<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  </head>
  <body class="background">
    <script src="javascripts/home.js"></script>
    <div class="center-text">
      <% if (isMobile) { %>
        <h1 class="mobile-h1">Emmanuel Su&aacute;rez Acevedo</h1>
      <% } else { %>
        <h1 class="desktop-h1">Emmanuel Su&aacute;rez Acevedo</h1>
      <% } %>
      <% if (isSpanish) { %>
        <h4>Hecho en Puerto Rico<% if (!isMobile) { %><a href="/es">&nbsp;<img class="puerto-rico" src="images/puerto-rico.svg"></img></a><% } %></h4>
        <h4>Bachillerato en ingeniería de la Universidad de Pennsylvania</h4>
        <h4>Candidato para una maestría en ingenieria de la Universidad de Pennsylvania<</h4>
      <% } else { %>
        <h4>Born and raised in Puerto Rico<% if (!isMobile) { %><a href="/es">&nbsp;<img class="puerto-rico" src="images/puerto-rico.svg"></img></a><% } %></h4>
        <h4>Former Software Engineer at Strava</h4>
        <h4>Candidate for an MSE in Computer Science at Penn</h4>
      <% } %>
    </div>
    <div class="row-center">
        <a href="https://www.linkedin.com/in/emsuac">
          <% if (isMobile) { %> 
            <i class="fab fa-linkedin fa-4x">&nbsp;</i> 
          <% } else { %>
            <i class="fab fa-linkedin fa-2x">&nbsp;</i>
          <% } %>
        </a>
        <a href="https://www.github.com/emmanueljs1">
          <% if (isMobile) { %> 
            <i class="fab fa-github fa-4x">&nbsp;</i> 
          <% } else { %>
            <i class="fab fa-github fa-2x">&nbsp;</i>
          <% } %>
        </a>
        <a href="mailto:emmanueljs1@gmail.com">
          <% if (isMobile) { %>
            <i class="fas fa-envelope fa-4x">&nbsp;</i>
          <% } else { %>
            <i class="fas fa-envelope fa-2x">&nbsp;</i>
          <% } %>
        </a>
        <a href="files/resume.pdf">
          <% if (isMobile) { %>
            <i class="fas fa-file-alt fa-4x">&nbsp;</i>
          <% } else { %>
            <i class="fas fa-file-alt fa-2x">&nbsp;</i>
          <% } %>
        </a>
    </div>
    <% if (!isMobile) { %>
      <div class="row-center">
        <h4 class="click-to-play">
          <a id="click-to-play" href= <% if (isSpanish) { %> "/" <% } else { %> "/es" <% } %>>
            <% if (isSpanish) { %>
              Presione para inglés
            <% } else { %>
              Click for Spanish
            <% } %>
          </a>
        </h4>
      </div>
    <% } %>
  </body>
</html>
